.pio
.vscode


# Untracked files in MPLABX projects
/**/build/*
/**/nbproject/*
!/**/nbproject/*.xml
/**/[Ff]ree/production/*
/**/[Pp]ro/production/*
/**/.generated_files/*

# Uncomment these to include hex/elf files
!/**/[Ff]ree/production/*.hex
#!/**/[Ff]ree/production/*.elf
!/**/[Pp]ro/production/*.hex
#!/**/[Pp]ro/production/*.elf

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
#html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map

